<div class="main">
    <img src="https://img.icons8.com/color/48/000000/google-calendar.png"/>
    <img src="https://img.icons8.com/color/48/000000/google-keep.png"/>
    <img class="img" src="https://lh3.googleusercontent.com/62OzNxLonba70XxMFP3X3dsdNS9lvG2xf5TqfhYDaw9iFn5as9gVSU23ExfCLoZXkMWA" alt="">
</div>
<hr class="hr1">
<div class="main2">
    <span class="material-icons add">
        add
        </span>
        <span class="material-icons arrow">
            keyboard_arrow_right
            </span>
</div>