/* -------------------------Top------------------------------------------- */

.top{
    display:flex;
    justify-content: space-between;
    padding-top:3px;
    padding-bottom: 3px;
    overflow:hidden;
}
.top > .left{
    display:flex;
padding-left:10px;
}
.top >div > span{
    color:	#808080;
}
.arrow{
    font-size:1.2rem;
    padding-right:20px;
}
.refresh{
    font-size:1.3rem;
    padding-right:20px;
}
.more_vert{
    font-size:1.3rem;
}
.top > .right{
    display:flex;
    align-items: center;
    padding-right:30px;
}
.top > .right > .right-arrow{
    padding-left:20px;
}
.top > .right > .left-arrow{
    padding-left:20px;
}
.top > .right > .t-text{
    font-size:0.9rem;
}
.hr{
    border:0.5px solid #eeeeee;
    margin-right:20px;
}

/* ---------------------------------------Middle------------------------------------ */

.middle{
    display:flex;
    margin-top:-9px;
    margin-bottom: -9px;
    overflow:hidden;
}
.middle > div{
    padding:17px 140px 15px 12px;
    display:flex;
    align-items: center;
}
.middle > div > span{
    padding-right:10px;
}
.middle > div:hover{
    background-color: #F0F0F0;
}
.middle > div > .text{
    font-family:arial;
    font-size:0.9rem;
}
.middle > div > .primary {
    color:	#cf3217; 
}
.middle > div > .social{
    color:	#787878
}
.middle > div > .promotions{
    color:	#787878
}
.middle > div > .material-icons{
    font-size:1.2rem;
}
.middle > .div1{
    border-bottom: 3px solid #cf3217;
}

/* ------------------------------------Messages---------------------------------- */

.messages{
    overflow: auto; 
    margin-top:-10px;

    height: 100vh;
}
.messages > div > div{
    border-bottom:0.5px solid #eeeeee;
    margin-right:20px;
    display:flex;
    align-items: center;
    padding:10px 0 10px 0;
}
.messages > div > div>.star{
    color:#E0E0E0;
    padding-left:10px;
    font-size:1.3rem;
}
.messages > div > div>.box{
    color:#E0E0E0;
    padding-left:10px;
    font-size:1.3rem;
}
.messages > div > div>.text-name{
    padding-left:10px;
    font-family:arial;
    font-size:0.9rem;
    font-weight:700;
    width:100px;
}
.messages > div > div > .text-mail{
    padding-left:90px;
    font-family:arial;
    font-size:0.9rem;
    width:800px;
}
.messages > div > div > .text-date{
    padding-left:85px;
    font-family:arial;
    font-size:0.8rem;
    font-weight:700;
}
