<div class="search-main">
    <div class="icons">
    <span class="material-icons menu">
    menu
    </span>
    <span><img src="https://img.icons8.com/fluent/48/000000/gmail.png"/> </span>
        <span class="gmail">Gmail</span>
    </div>
       <div class="search-bar"> 
        <button><span class="material-icons search">
            search
            </span></button>
           <input type="text" placeholder="Search mail" />
          <button> <span class="material-icons arrow">
            keyboard_arrow_down
            </span></button>
            </div>
            <div class="right-icons">
                <span class="material-icons">
                    help_outline
                    </span>
                    <span class="material-icons">
                        settings
                        </span>
                    <span class="material-icons">
                        apps
                        </span>
                        <span class="material-icons account">
                            account_circle
                            </span>
            </div>
    </div>  
    <hr class="hr" />
    
